{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<canvas class="allauth background"></canvas>
<div class="all-auth">
    <div class="container reg">
        <div class="row">
            <div class="col-12 mt-3 reg-content">
                <h4 class="text-center mb-3">{% trans "Sign Out" %}</h4>
                <p>{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-danger form-control" type="submit">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}