{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="signup">
<canvas class="allauth background"></canvas>
<div class="all-auth">
    <div class="container mt-5 reg">
        <div class="row">
            <div class="col-12 reg-content">
                <h1 class="text-center">{% trans "Sign Up" %}</h1>
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            {{ form.role | as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.first_name | as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.last_name | as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.email | as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.password1 | as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.password2 | as_crispy_field }}
                        </div>
                    </div>
                    <button class="btn btn-danger form-control" type="submit">{% trans "Sign Up" %}</button>
                </form>
                <div class="my-3 text-center">
                    <p>{% blocktrans %}Already have an account? Please <a  class="text-danger" href="{{ login_url }}">Sign in</a>.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
