{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="about">
        <div class="container about-content">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center fw-bold">About Us..</h1>
                    <p>Here at <em>empowerEd</em> we want to provide you with first class education!
                        Everyone is welcome, no matter your age, background or learning difficulties. We believe
                        education should not be a privilage but a given!. You can browse through the resources
                        available, watch lessons on demand or book a free of charge session with a mentor. Your
                        mentor is here to help you through the journey and they are fully qualified to deal with any
                        learning difficulties you might have so please don't be shy and
                    </p>
                    <a href="{% url 'account_signup' %}" class="btn global-action-btn rounded-pill" target="_blank" rel="noopener" aria-label="Sign Up!(open in a new tab)">create account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}