{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="about">
        <div class="container about-content">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center fw-bold">About Us..</h1>
                    <p>Here at <em>empowerEd</em> we want to provide you with first class education!
                        We believe that every every child deserves a chance to earn and grow, regardless of their background or circumstances. 
                        That's why we're dedicated to providing quality education to all children, and by creating a supportive and nurturing environment that helps them reach their full potential.</p>
                    <br>
                    <p> We believe education should not be a privilege but a given!.</p>
                    <p> You can browse through the resources
                     available, watch lessons on demand or book a free of charge session with a mentor. Your
                       mentor is here to help you through the journey and they are fully qualified to deal with any questions you may have. </p>
                    
                    <!-- Mission and Vision -->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src= alt="Children">
        <div class="card-block">
          <h3 class="card-title">Our Mission</h3>
          <p class="card-text">
              <div>
  <h2>Our Mission and Values</h2>
  <p>At EmpowerEd, our mission is to empower all children, regardless of their characteristics, to reach their full potential.  We believe that education is the key to success. Every child has the right to access education, healthcare, and opportunities to succeed in life, regardless of their social or economic background. We work towards bridging this gap by connecting students with mentors and providing access to educational resources. </p>

</p>
                  
  <p>We are committed to the following values:</p>
  <ul>
    <li>Equality
        <br> 
        We believe that every child has the right to be treated fairly and with dignity, regardless of their race, gender, religion, or any other characteristic.</li>
    <li>Empowerment
        <br>
        We believe that children have the capacity to be agents of change in their own lives and communities, and we aim to provide them with the tools and resources they need to achieve their goals.</li>
    <li>Inclusion
        <br>
        We believe that all children have the right to participate fully in society, and we strive to create an inclusive environment where every child can thrive.</li>
    <li>Collaboration
        <br>
        We believe that meaningful change can only be achieved through partnerships and cooperation, and we work with other organizations, governments, and communities to achieve our goals.</li>
    <li>Accountability
        <br>
        We are committed to transparency, ethical practices, and measuring our impact to ensure that we are making a difference in the lives of the children we serve.</li>
  </ul>
</div>

   <p> At empowerEd, we are committed to breaking down barriers to education and providing opportunities for underprivileged children to thrive academically. Join us today and become a part of our community of dedicated mentors and students who are passionate about education. </p>
             
  </p>
  <a href="/accounts/signup/" class="btn global-action-btn rounded-pill">create account</a>
  </div>
   </div>
   </div>
    </div>
{% endblock %}
