{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="about">
        <div class="container about-content">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center fw-bold">About Us..</h1>
                    <p>Here at <em>empowerEd</em> we want to provide you with first class education!
                        We believe that every every child deserves a chance to earn and grow, regardless of their background or circumstances. 
                        That's why we're dedicated to providing quality education to all children, and by creating a supportive and nurturing environment that helps them reach their full potential.</p>
                    <p> We believe education should not be a privilege but a given!.</p>
                    <p> You can browse through the resources available, watch lessons on demand or book a free of charge session with a mentor. Your
                        mentor is here to help you through the journey and they are fully qualified to deal with any questions you may have.
                    </p>
                    <a href="/accounts/signup/" class="btn global-action-btn rounded-pill">create account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
