{% load static %}
<footer class="container footer-links text-center">
    <div class="row">
        <div class="col-4">
            <h5>Social Links</h5>
            <ul class="social-links list-unstyled gap-3">
                <li class="nav-list">
                    <a href="https://www.facebook.com/" class="nav-link" target="_blank" rel="noopener" aria-label="visit our Facebook page(open in a new tab)"><small>Facebook</small></a>
                </li>
                <li class="nav-list">
                    <a href="https://www.Twitter.com/" class="nav-link" target="_blank" rel="noopener" aria-label="visit our Twitter page(open in a new tab)"><small>Twitter</small></a>
                </li>
                <li class="nav-list">
                    <a href="https://www.Youtube.com/" class="nav-link" target="_blank" rel="noopener" aria-label="visit our Youtube page(open in a new tab)"><small>Youtube</small></a>
                </li>
                <li class="nav-list">
                    <a href="https://www.Instagram.com/" class="nav-link" target="_blank" rel="noopener" aria-label="visit our Instagram page(open in a new tab)"><small>Instagram</small></a>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <h5>Helpful Links</h5>
            <ul class="helpful-links list-unstyled gap-3">
                <li class="nav-list">
                    <a href="https://www.curajoy.org" class="nav-link" target="_blank" rel="noopener" aria-label="visit Curajoy page(open in a new tab)"><small>Curajoy</small></a>
                </li>
                <li class="nav-list">
                    <a href="https://www.nhs.uk/conditions/autism" class="nav-link" target="_blank" rel="noopener" aria-label="visit Autism page(open in a new tab)"><small>Autism</small></a>
                </li>
                <li class="nav-list">
                    <a href="https://walk.cafod.org.uk" class="nav-link" target="_blank" rel="noopener" aria-label="visit Cafod page(open in a new tab)"><small>Cafod</small></a>
                </li>
                <li class="nav-list">
                    <a href="https://www.scope.org.uk" class="nav-link" target="_blank" rel="noopener" aria-label="visit Scope page(open in a new tab)"><small>Scope</small></a>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <h5>Internal Links</h5>
            <ul class="internal-links list-unstyled gap-3">
                <li class="nav-list">
                    <a href="{% url 'home:home' %}" class="nav-link" target="_blank" rel="noopener" aria-label="visit our Home page(open in a new tab)"><small>Home</small></a>
                </li>
                <li class="nav-list">
                    <a href="{% url 'home:resources' %}" class="nav-link" target="_blank" rel="noopener" aria-label="visit our Resources page(open in a new tab)"><small>Resources</small></a>
                </li>
                <li class="nav-list">
                    <a href="{% url 'home:mentors' %}" class="nav-link" target="_blank" rel="noopener" aria-label="visit our Mentors page(open in a new tab)"><small>Mentors</small></a>
                </li>
                <li class="nav-list">
                    <a href="{% url 'home:about' %}" class="nav-link" target="_blank" rel="noopener" aria-label="visit our About page(open in a new tab)"><small>About</small></a>
                </li>
            </ul>
        </div>
    </div>
</footer>