{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center mt-5">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center col-md-12 mt-xl-0 mt-xl-3 mt-5">
                <!-- div that the JavaScript framework will render in -->
                <div class="" id="js-framework-home"></div>
                {{ id|json_script:'id' }}
                <!-- bundle file with our JavaScript application logic -->
                <script src="{% static 'chat.js-bundle.js' %}"></script>
            </div>
        </div>
    </div>
{% endblock %}