{% load static %}
<header class="top-nav fixed-top">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-3">
                    <!--logo-->
                    <a class="navbar-brand ms-3" href="{% url 'home:home' %}">EmpowerEd</a>
                </div>
                <div class="col-9">
                    <!--hamburger-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <!-- nav items-->
                    <div class="collapse navbar-collapse" id="navbarText">
                        <div class="row w-100">
                            <div class="col-8 d-flex justify-content-around">
                                <ul class="navbar-nav gap-4">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}" title="">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'home:resources' %}" title="">Resources</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'home:mentors' %}" title="">Mentors</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'home:about' %}" title="">About</a>
                                    </li>
                                    <!-- <li class="nav-item"> -->
                                        <!-- <a class="nav-link" href="./contact.html" title="">Contact</a> -->
                                    <!-- </li> -->
                                </ul>
                            </div>
                            <div class="col-4 d-flex justify-content-end">
                                <ul class="navbar-nav">
                                    <!-- user name -->
                                    {% if user.is_authenticated %}
                                        <a id="user-name" href=" {% url 'home:profile' user.pk %}"
                                            class="fw-semibold nav-link">
                                            <i class='bx bxs-user-circle'></i>&nbsp;{{ user.first_name }}
                                        </a>
                                        <!-- messenger icon -->
                                        <a href="#" class="nav-link" aria-label="Messages">
                                            <i class='bx bx-envelope fs-6 text position-relative' id="messages"></i>
                                        </a>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </nav>
</header>


