<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo-wrapper">
            <h1 class="logo"><a href="{% url 'home:home' %}">EmpowerEd</a></h1>
            <span id="small-img-logo" class="d-none d-md-block"></span>
        </div>

        <!-- Navbar -->
         <nav class="navbar navbar-fixed-top navbar-inverse">
             <div class="container">
                
                     <ul class="d-flex">
                         <li><a class="mx-5" href="./index.html" title="">01 : Home</a></li>
                         <li><a class="mx-5" href="./works.html" title="">02 : Projects</a></li>
                         <li><a class="mx-5" href="./about.html" title="">03 : About</a></li>
                         <li><a class="mx-5" href="./contact.html" title="">04 : Contact</a></li>
                     </ul>

             </div>
         </nav>
    </div>
</header>
