<header id="header" class="fixed-top">
    <div class="container d-flex justify-content-between">

        <div class="justify-self-start mt-2">
            <span><a href="{% url 'home:home' %}">EmpowerEd</a></span>
        </div>

        <!-- Navbar -->
         <nav class="navbar sticky">
             <div class="container d-flex ">
                
                     <ul class="d-flex">
                         <li><a class="me-5" href="{% url 'home:resources' %}" title="">Resources</a></li>
                         <li><a class="me-5" href="{% url 'home:mentors' %}" title="">Mentors</a></li>
                         <li><a class="me-5" href="{% url 'home:about' %}" title="">About</a></li>
                         <!-- <li><a class="mx-5" href="./contact.html" title="">Contact</a></li> -->
                          <!-- user name -->
                          {% if user.is_authenticated %}
                          <span id="user-name" class="ms-5 me-3"><a href="#"
                                  class="fw-semibold">
                                  <i class='bx bxs-user-circle'></i>&nbsp;{{ user }}</a>
                          </span>
                          <!-- messenger icon -->
                          <a href="#" class="px-0 me-2" aria-label="Messages">
                              <i class='bx bx-envelope fs-6 text position-relative' id="messages"></i>
                          </a>
                            {% endif %}
                         {% if user.is_authenticated %}
                         <li><a class="me-5" href="{% url 'account_logout' %}">Logout</a></li>
                         {% else %}
                         <li><a class="me-5" href="{% url 'account_signup' %}">Sign Up</a></li>
                         <li><a class="me-5" href="{% url 'account_login' %}">Login</a></li>
                         {% endif %}
                     </ul>

             </div>
         </nav>
    </div>
</header>
