{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-12 mb-5">
          <h1 class="text-center">User Profile</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {% if user.role == 'Mentor' %}
                    <div class="col-6">
                        <div class="user-profile mb-5">
                            <img src="{{ user.mentor.userpic }}" alt="{{ user }} profile picture">
                            <div class="container profile d-flex">
                                <p class="fw-semibold mt-3">{{ user }}</p>
                                <!-- update icon -->
                                {% if user == request.user %}
                                <a href="{% url 'home:update_profile' user.pk %}" class="link-primary mx-2"
                                    title="Edit Your Profile">
                                    <i class='bx bx-pencil'></i>
                                </a>{% endif %}
                                <!-- <a class="global-action-btn btn rounded-pill mt-2" href="{% url 'home:update_profile' user.pk %}">Update</a> -->
                            </div>
                        </div>
                        <p><strong>Area of Expertise:</strong> {{ user.mentor.area_of_expertise }}</p>
                        <p><strong>Bio:</strong> {{ user.mentor.bio }}</p>
                    </div>
                    <div class="col-6">
                        <!--other informations-->
                        <p>This could be another information with an action button</p>
                    </div>
                </div>
                <div class="row">
                    {% elif user.role == 'Student' %}
                    <div class="col-6">
                        <div class="user-profile mb-5">
                            <img src="{{ user.student.userpic }}" alt="{{ user }} profile picture">
                            <div class="container profile d-flex justify-content-between">
                                <p class="fw-semibold">{{ user }}</p>
                                <a class="global-action-btn btn rounded-pill mt-2" href="{% url 'home:update_profile' user.pk %}">Update</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <!--other informations-->
                        <p>This could be another information with an action button</p>
                    </div>
                </div>
                <div class="row">
                    {% else %}
                    <div class="col-6">
                        <div class="user-profile mb-5">
                            <img src="{{ user.parent.userpic }}" alt=" {{ user }}profile picture">
                            <div class="container profile d-flex justify-content-between">
                                <p class="fw-semibold">{{ user }}</p>
                                <a class="global-action-btn btn rounded-pill mt-2" href="{% url 'home:update_profile' user.pk %}">Update</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <!--other informations-->
                        <p>This could be another information with an action button</p>
                    </div>
                </div>
        
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}