{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12 mb-5">
        <h1 class="text-center">User Profile</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% if profile.user_id.role == 'Mentor' %}
                <div class="col-6">
                    <div class="user-profile mb-5">
                        <img src="{{ profile.userpic }}" alt="{{ profile }} profile picture">
                        <div class="container profile d-flex justify-content-between">
                            <p class="fw-semibold mt-3">{{ profile.user_id }}</p>
                            <!-- update icon -->
                            {% if profile.user_id == request.user %}
                            <a href="{% url 'home:update_profile' profile.user_id.pk %}" class="link-primary mx-2 pen"
                                title="Edit Your Profile">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>{% endif %}
                        </div>
                        <a class="global-action-btn btn rounded-pill mt-3" href="#">contact mentor</a>
                    </div>
                    <p><strong>Area of Expertise:</strong> {{ profile.area_of_expertise }}</p>
                    <p><strong>Bio:</strong> {{ profile.bio }}</p>

                </div>
                <div class="col-6">
                    <p>Students:</p>
                    {% for relationship in mentor_student %}
                    <p><a
                            href="{% url 'home:profile' relationship.student_id.user_id.pk %}">{{ relationship.student_id }}</a>
                    </p>
                    {% endfor %}
                </div>

                {% elif profile.user_id.role == 'Student' %}
                <div class="col-6">
                    <div class="user-profile mb-5">
                        <img src="{{ profile.userpic }}" alt="{{ profile }} profile picture">
                        <div class="container profile d-flex justify-content-between">
                            <p class="fw-semibold">{{ profile }}</p>
                           {% if profile.user_id == request.user %}
                           <a href="{% url 'home:update_profile' profile.user_id.pk %}" class="link-primary mx-2 pen"
                               title="Edit Your Profile">
                               <i class="fa-solid fa-pen-to-square"></i>
                           </a>{% endif %}
                        </div>
                    </div>
                    <p>Parent: <a
                            href="{% url 'home:profile' student_parent.user_id.pk %}">{{ student_parent }}
                    </a>
                    </p>
                    <p>Age: {{ age }}</p>
                    <p>Interests: {{ profile.interests }}</p>

                </div>
                <div class="col-6">
                    <!--other informations-->
                    <p>Upcoming Sessions: </p>
                    {% for lesson in lessons %}
                    <p><a href="{% url 'home:profile' lesson.mentor.user_id.pk %}">{{ lesson.mentor }}</a>
                        {{ lesson.start_time }}-{{ lesson.end_time }}</p>
                    {% endfor %}
                </div>

                {% else %}
                <div class="col-6">
                    <div class="user-profile mb-5">
                        <img src="{{ profile.userpic }}" alt=" {{ profile }}profile picture">
                        <div class="container profile d-flex justify-content-between">
                            <p class="fw-semibold">{{ profile }}</p>
                           {% if profile.user_id == request.user %}
                           <a href="{% url 'home:profile' profile.user_id.pk %}" class="link-primary mx-2 pen"
                               title="Edit Your Profile">
                               <i class="fa-solid fa-pen-to-square"></i>
                           </a>{% endif %}
                        </div>
                        <a class="global-action-btn btn rounded-pill mt-3" href="#">contact parent</a>
                    </div>
                    <p>Children:</p>
                    {% for relationship in parent_student %}
                    <p><a
                            href="{% url 'home:profile' relationship.user_id.pk %}">{{ relationship }}</a>
                    </p>
                    {% endfor %}
                    
                </div>
                <div class="col-6">
                    <!--other informations-->
                    <p>Upcoming Sessions: </p>
                    {% for lesson in lessons %}
                    <p><a href="{% url 'home:profile' lesson.mentor.user_id.pk %}">{{ lesson.mentor }}</a>
                        {{ lesson.start_time }}-{{ lesson.end_time }}</p>
                    {% endfor %}
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}