{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Resources</h1>

{% if 'resource_list' %}
<div class="col-10">

{% for resource in resource_list %}
    <div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="text-primary">{{ resource.name }}</div>
                <div class="text-primary">{{ resource.url }}</div>
                <div class="text-primary">{{ resource.about }}</div>
                <div><img src="{{ resource.img }}"></div>
            </div>
        </div>
    </div>
{% endfor %}

 </div>
 {% else %}
 <p>Ooops, nothing here.</p>
 {% endif %}

{% endblock %}